* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: blue;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.main {
  margin: 10vh 15vw;
  display: grid;
  gap: 50px;
  grid-template-areas:
  "picture content"
  "menu content";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 300px 30vh;
  background-color: aliceblue;
}

.picture {
  grid-area: picture;
  background-color: red;
}

.menu {
  grid-area: menu;
}

.menu-content {
  background-color: green;
  padding: 25px;
}

.content {
  grid-area: content;
  overflow: scroll;
  background-color: orange;
  padding: 15px;
}

.footer {
  margin-left: 15vw;
  margin-top: 19vh;
}
